/**                     text eol=lf
/.circleci/             export-ignore
/.github/               export-ignore
/tests/                 export-ignore
/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/composer.lock          export-ignore
/Makefile               export-ignore
/phpcs.xml.dist         export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.xml.dist       export-ignore
