includes:
    - "tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon"
    - "tools/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon"

parameters:
    level: 7

    ignoreErrors:
        - '#Call to an undefined static method PHPUnit\\Framework\\MockObject\\MockObject::invokeMethod\(\)#'
        - '#Call to an undefined static method PHPUnit\\Framework\\MockObject\\MockObject::getMethod\(\)#'
        - '#Call to an undefined static method PHPUnit\\Framework\\MockObject\\MockObject::getProperty\(\)#'
        - '#Call to an undefined static method PHPUnit\\Framework\\MockObject\\MockObject::getPropertyValue\(\)#'
        - '#Call to an undefined static method PHPUnit\\Framework\\MockObject\\MockObject::setPropertyValue\(\)#'
        - '#Call to an undefined static method PHPUnit\\Framework\\MockObject\\MockObject::setPropertyValues\(\)#'
